<a href="https://colab.research.google.com/github/lydiamokaya/SQL/blob/master/SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [ ]:

import csv

In [ ]:

import pandas as pd

In [ ]:

with open('Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv','r') as f:
    Uganda = pd.read_csv(f, index_col=0, encoding='utf-8')

In [ ]:
%sql DROP TABLE if EXISTS Uganda;
%sql PERSIST Uganda;

 * sqlite://
Done.
 * sqlite://

'Persisted uganda'

1. Display a list of Sub Counties and their population and areas.

In [ ]:
%%sql
SELECT SUBCOUNTY_NAME ,"POP" ,"Area"
FROM Uganda

 * sqlite://
Done.

[('KACHERI', 17244, 1067176155),
 ('KOTIDO', 52771, 597575188),
 ('KOTIDO TOWN COUNCIL', 27389, 23972401),
 ('NAKAPERIMORU', 38775, 419111591),
 ('PANYANGARA', 65704, 880955930),
 ('RENGEN', 41273, 652744859),
 ('KAABONG  EAST', 42221, 60801942),
 ('KAABONG TOWN COUNCIL', 38857, 13071455),
 ('KAABONG WEST', 41454, 67612362),
 ('KALAPATA', 99203, 223116860),
 ('KAMION', 60070, 1199409465),
 ('KAPEDO', 33951, 304557831),
 ('KATHILE', 56870, 228457417),
 ('KAWALAKOL', 37691, 1742041261),
 ('LOBALANGIT', 22907, 302572789),
 ('LODIKO', 31820, 397700845),
 ('LOLELIA', 100919, 1069331387),
 ('LOYORO', 16608, 1330019236),
 ('NAPORE (KARENGA)', 20394, 309577387),
 ('SIDOK', 24092, 125330583),
 ('ABIM', 14377, 188613057),
 ('ABIM TOWN COUNCIL', 11489, 115941152),
 ('ALEREK', 12573, 1255760525),
 ('LOTUKEI', 18641, 191684465),
 ('MORULEM', 16834, 250364895),
 ('KARITA', 45015, 658008801),
 ('LOROO', 22541, 371970302),
 ('AMUDAT', 30181, 596393139),
 ('AMUDAT TOWN COUNCIL', 4053, 17207110),
 ('KATIKEKILE', 11772, 277451997),
 ('NADUNGET', 42115, 596023780),
 ('TAPAC', 21999, 622266516),
 ('NORTHERN DIVISION', 7161, 2738777),
 ('SOUTHERN DIVISION', 3272, 2121209),
 ('LOREGAE', 26644, 928683431),
 ('NAKAPIRIPIRIT TOWN COUNCIL', 1418, 4673094),
 ('NAMALU', 25905, 553067364),
 ('KAKOMONGOLE', 15960, 312709097),
 ('LOLACHAT', 22801, 642401705),
 ('LORENGEDWAT', 9929, 435714604),
 ('NABILATUK', 27534, 499776866),
 ('IRIIRI', 46979, 1030623258),
 ('LOPEEI', 18815, 790782350),
 ('LORENGECORA', 2503, 118997955),
 ('LOTOME', 17834, 125857565),
 ('MATANY', 29495, 338252511),
 ('NAPAK TOWN COUNCIL', 8010, 150906375),
 ('NGOLERIET', 20790, 158887552),
 ('NYAKWAE', 16470, 769609687),
 ('LOKOPO', 23200, 1794470536),
 ('RUPA', 41493, 2069554899),
 ('MORUITA', 16588, 839293722)]

2.Sort the list of districts by total crop area (descending order).

In [ ]:
%%sql
SELECT DISTRICT_NAME, "Crop_Area_HA"
FROM Uganda
ORDER BY Crop_Area_Ha DESC

 * sqlite://
Done.

[('KOTIDO', 13587.990759999999),
 ('KOTIDO', 13278.52043),
 ('KOTIDO', 10398.24939),
 ('KOTIDO', 7087.823334000001),
 ('KOTIDO', 7023.533691),
 ('KAABONG', 6890.699234000001),
 ('NAPAK', 6471.047334000001),
 ('NAKAPIRIPIRIT', 5793.5076229999995),
 ('NAKAPIRIPIRIT', 5759.618906000001),
 ('NAPAK', 5473.443674),
 ('NAKAPIRIPIRIT', 5079.779088),
 ('KAABONG', 3934.432233),
 ('NAKAPIRIPIRIT', 3276.653762),
 ('NAKAPIRIPIRIT', 3264.534948),
 ('NAPAK', 3120.318045),
 ('NAPAK', 2990.847377),
 ('KAABONG', 2834.349905),
 ('KAABONG', 2700.676313),
 ('AMUDAT', 2513.27183),
 ('MOROTO', 2480.1219),
 ('KAABONG', 2365.259806),
 ('MOROTO', 2217.2907170000003),
 ('NAKAPIRIPIRIT', 2008.0681690000001),
 ('KAABONG', 1890.248613),
 ('NAPAK', 1849.966589),
 ('KOTIDO', 1656.5318550000002),
 ('AMUDAT', 1651.99842),
 ('AMUDAT', 1539.401382),
 ('KAABONG', 1494.047587),
 ('KAABONG', 1491.771813),
 ('ABIM', 1266.109868),
 ('NAPAK', 1215.227445),
 ('NAKAPIRIPIRIT', 1161.3902289999999),
 ('MOROTO', 1111.664207),
 ('NAPAK', 1031.196285),
 ('KAABONG', 1021.31699),
 ('ABIM', 999.3715888),
 ('KAABONG', 997.1610206),
 ('KAABONG', 967.3367266),
 ('KAABONG', 957.4939457999999),
 ('ABIM', 925.0541302000001),
 ('ABIM', 792.8987889),
 ('NAPAK', 792.2492731000001),
 ('ABIM', 788.4628001),
 ('ABIM', 698.1712182),
 ('KAABONG', 401.7978207),
 ('KAABONG', 175.08052659999998),
 ('MOROTO', 145.243518),
 ('AMUDAT', 60.77208552),
 ('NAKAPIRIPIRIT', 29.14576036),
 ('MOROTO', 0.322315707),
 ('MOROTO', 0.17139046100000002)]

3.Select only the Sub counties from the Moroto district, order them alphabetically and show their production of sorghum

In [ ]:
%%sql
SELECT SUBCOUNTY_NAME, DISTRICT_NAME, S_Prod_TOT
FROM Uganda
WHERE DISTRICT_NAME = "MOROTO"
ORDER BY SUBCOUNTY_NAME ASC;

 * sqlite://
Done.

[('KATIKEKILE', 'MOROTO', 9379.029413),
 ('NADUNGET', 'MOROTO', 321630.539),
 ('NORTHERN DIVISION', 'MOROTO', 17.28125956),
 ('RUPA', 'MOROTO', 227298.5184),
 ('SOUTHERN DIVISION', 'MOROTO', 19.67486547),
 ('TAPAC', 'MOROTO', 49251.66081)]

4.Compute the total Maize production per District.

In [ ]:
%%sql
SELECT DISTINCT "DISTRICT_NAME", SUM(M_Prod_TOT)
FROM Uganda
GROUP BY DISTRICT_NAME

 * sqlite://
Done.

[('ABIM', 1922133.1297),
 ('AMUDAT', 3546469.3324990002),
 ('KAABONG', 6990361.6143000005),
 ('KOTIDO', 2010179.0731479998),
 ('MOROTO', 422116.06882464996),
 ('NAKAPIRIPIRIT', 8125156.24546),
 ('NAPAK', 5587379.38888)]

5.Compute the number of Sub counties where Maize is produced and the total Maize production per District.

In [ ]:
%%sql
SELECT SUBCOUNTY_NAME, DISTRICT_NAME,(M_Prod_TOT)
FROM Uganda
GROUP BY DISTRICT_NAME

 * sqlite://
Done.

[('NYAKWAE', 'ABIM', 258010.2444),
 ('AMUDAT TOWN COUNCIL', 'AMUDAT', 2081.356199),
 ('SIDOK', 'KAABONG', 136265.6835),
 ('RENGEN', 'KOTIDO', 179681.139),
 ('RUPA', 'MOROTO', 155838.875),
 ('MORUITA', 'NAKAPIRIPIRIT', 1198586.875),
 ('LOKOPO', 'NAPAK', 414509.6206)]

6.Compute the overall Crop area in all Sub counties where population is over 20000.

In [ ]:
%%sql
SELECT "SUBCOUNTY_NAME", Crop_Area_HA
FROM UGANDA
WHERE POP>20000

 * sqlite://
Done.

[('KOTIDO', 13587.990759999999),
 ('KOTIDO TOWN COUNCIL', 1656.5318550000002),
 ('NAKAPERIMORU', 7087.823334000001),
 ('PANYANGARA', 10398.24939),
 ('RENGEN', 13278.52043),
 ('KAABONG  EAST', 1021.31699),
 ('KAABONG TOWN COUNCIL', 175.08052659999998),
 ('KAABONG WEST', 967.3367266),
 ('KALAPATA', 2834.349905),
 ('KAMION', 997.1610206),
 ('KAPEDO', 2365.259806),
 ('KATHILE', 6890.699234000001),
 ('KAWALAKOL', 3934.432233),
 ('LOBALANGIT', 1890.248613),
 ('LODIKO', 401.7978207),
 ('LOLELIA', 2700.676313),
 ('NAPORE (KARENGA)', 1494.047587),
 ('SIDOK', 957.4939457999999),
 ('KARITA', 2513.27183),
 ('LOROO', 1539.401382),
 ('AMUDAT', 1651.99842),
 ('NADUNGET', 2480.1219),
 ('TAPAC', 1111.664207),
 ('LOREGAE', 5759.618906000001),
 ('NAMALU', 5793.5076229999995),
 ('LOLACHAT', 5079.779088),
 ('NABILATUK', 3276.653762),
 ('IRIIRI', 5473.443674),
 ('MATANY', 2990.847377),
 ('NGOLERIET', 1215.227445),
 ('LOKOPO', 6471.047334000001),
 ('RUPA', 2217.2907170000003)]

7.Sort the Maize production in descending order by Districts, only taking into account Sub counties where Maize area is larger than Sorghum area, and display the number of Sub counties per district matching that criteria.

In [ ]:
%%sql
SELECT SUBCOUNTY_NAME, DISTRICT_NAME,M_Yield_Ha, S_Area_Ha, M_Area_Ha
FROM Uganda
WHERE M_Area_Ha>S_Area_Ha
GROUP BY DISTRICT_NAME
ORDER BY M_Yield_Ha DESC

 * sqlite://
Done.

[('AMUDAT', 'AMUDAT', 1379.0459449999998, 676.7832664, 972.1742458999998),
 ('MORUITA', 'NAKAPIRIPIRIT', 1248.955812, 185.2834449, 959.6711616),
 ('NAPORE (KARENGA)', 'KAABONG', 765.3349254999999, 267.559128, 1221.532726),
 ('NAPAK TOWN COUNCIL', 'NAPAK', 725.8139301, 386.1580327, 401.1734419),
 ('NORTHERN DIVISION', 'MOROTO', 241.53842680000002, 0.130940756, 0.19137495100000002)]